.headerSerachBar {
    input {
        border: 0px;
        gap: 8px;
        border-radius: 16px;
        border-radius: 50px;
        // background-color: #F4F6F9;
        height: 40px;
    }

    .themeToggle {
        .toogleBtmP {
            height: 40px;
            width: 92px;
            border-radius: 90px;
            padding-top: 10px;
            padding-right: 8px;
            padding-bottom: 10px;
            padding-left: 8px;

        }

    }
}